# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Project
dist/
build/
.git/
.gitignore

# OS
Thumbs.db
